@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1110109a;
    color: #333;
    line-height: 1.6;
}

main {
    padding: 20px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
header {
    background: #0073e6;
    color: white;
    padding: 20px 0;
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}
p {
    text-align: justify;
    margin: 10px 0;
    line-height: 1.5;
}
nav {
    background-color: #0073e6;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: white;
    color: #0073e6;
    border-radius: 5px;
}
.profile-img {
    display: block;
    margin: 20px auto;
    width: 150px;
    border-radius: 50%;
}
.section {
    margin: 20px 0;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.contact a {
    display: block;
    color: #0073e6;
    text-decoration: none;
    margin: 5px 0;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer {
    text-align: center;
    padding: 15px 0;
    background: #0073e6;
    color: white;
}
section{
    margin: 20px 0;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}